
#container{
	
	width:760px;
	height:auto;
	margin:auto;
}
nav{
	background-color: #FF9933;
}
#menu{
	height:50px;
	background-color:#FF9933;
	width:760px;
	border-radius:5px;
}

#buton{
	display:inline-block;
	width:auto;
	height:50px;
	border:1px red;
	float:left;
	margin-left:7px;
 	margin-bottom:7px;
 	margin-top:5px;
 	border-radius:10px;
	background-color:#FF3366;
	text-align: center;
	padding-top:15px;
	padding-left:7px;
	padding-right:7px;
}
#buton:hover{
	background-color:#FF0000;
}

#box{
	box-shadow: 10px 10px 5px #888888;
	background-color:pink;
	width:250px;
	height:auto;
	margin-left:15px;
	border-radius:10px;
}


#menu a{text-decoration:none;font-weight: bold;font-size:15px;color:white;}
#menu a:hover{text-decoration:underline;}

header{
	width:760px;
	height:150px;
	background: url("../img/banner-curs.png") no-repeat;
	background-size:100% 100%;
	position:relative;
}
#form input{border-radius:5px;border:solid 1px black;  font-family:Arial, Helvetica, sans-serif; font-size:13px; color:black;}
#form input:hover{color:orange;font-weight: bold;}
#form select{border:solid 1px black;  font-family:Arial, Helvetica, sans-serif; font-size:13px; color:black;}

header div{
	width:200px;
	position:absolute;
	bottom:2px;
	right:10px;

}
#content{
	
	float:left;
	width:480px;
	height:auto;
	background-color:#66FFFF;
	border-radius:5px;
	height:320px;
}
#sitebar{
	background-color:#CCCCFF;
	float:right;
	width:280px;
	height:auto;
	min-width:200px;
	height:320px;
	border-radius:5px;
}
footer{
	width:100%;
	height:auto;
	color:black;
	clear:both;
	width:760px;
	height:66px;
	background-color:#339999;
	border-radius:5px;
}
footer a{
	margin-left:8px;
	margin-right:8px;
	font-size:15px;
	color:black;
}

footer p{
	margin-left:15px;
	font-size:13px;
	color:black;
}

#logo{
	position:fixed;
	bottom:300px;
}

h1{
	font-size:20px;
	color:#CCCC00;
	margin-left:10px;
}